PORT=3000

# URLs dos microsserviços (Usaremos estas no Docker Compose)
PRODUCT_SERVICE_URL=http://product-service:8000
USER_SERVICE_URL=http://user-service:8000
ORDER_SERVICE_URL=http://order-service:8000
